@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300..700&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1,p,span,a,button {
    font-family: 'Quicksand', sans-serif;
}





